<html>
    <body>
        <h3> Inserir Prescricao </h3>
        <form action="insertP" method="post" >
            <p>Número de Cedula: <input type="number" name="num_cedula"/></p>
            <p>Número de Doente: <input type="number" name="num_doente"/></p>
            <p>Data: <input type="date" name="data"/></p>
            <p>Substancia: <input type="text" name="substancia"/></p>
            <p>Quantidade: <input type="number" name="quant"/></p>
            <p><input type="submit" value="Submit"/></p>
        </form>
    </body>
</html>
