<html>
    <body>
        <h3> Editar Instituição </h3>
        <form action="updateI" method="post" >
            <p>Nome antigo: <input type="text" name="nome_antigo"/></p>
            <p>Nome novo(Se não quiser mudar inserir o mesmo nome): <input type="text" name="nome_novo"/></p>
            <p>Tipo: <input type="text" name="tipo"/></p>
            <p>Número de Regiao: <input type="number" name="regiao"/></p>
            <p>Número de Concelho: <input type="number" name="concelho"/></p>
            <p><input type="submit" value="Submit"/></p>
        </form>
    </body>
</html>
