<html>
    <body>
        <h3> Realizar venda com prescricao </h3>
        <form action="vendaComPrescricao" method="post" >
           <h4> Dados da Prescricao </h4>
            <p>Número de Cédula: <input type="number" name="num_cedula"/></p>
            <p>Numero de Doente: <input type="number" name="num_doente"/></p>
            <p>Data: <input type="date" name="data"/></p>
            <p>Substancia: <input type="text" name="substancia"/></p>
            <h4> Dados da venda </h4>
            <p>Número de venda: <input type="number" name="num_venda"/></p>
            <p>Data da venda: <input type="date" name="data_venda"/></p>
            <p>Quantidade: <input type="number" name="quant"/></p>
            <p>Preco: <input type="number" name="preco"/></p>
            <p>Instituicao: <input type="text" name="inst"/></p>
            <p><input type="submit" value="Submit"/></p>
        </form>
    </body>
</html>
