<html>
    <body>
        <h3> Realizar venda sem prescricao </h3>
        <form action="vendaSemPrescricao" method="post" >
            <p>Data: <input type="date" name="data"/></p>
            <p>Substância: <input type="text" name="substancia"/></p>
            <p>Quantidade: <input type="number" name="quantidade"/></p>
            <p>Preço: <input type="number" name="preco"/></p>
            <p>Instituição: <input type="text" name="instituicao"/></p>
            <p><input type="submit" value="Submit"/></p>
        </form>
    </body>
</html>
