
<html>
<head>
	<meta charset="UTF-8">
</head>

<body style="font-family:Arial; font-size:20px;">

		<header0> <b>Inserir:</b> </header0>

		<div class = "menus"><a href="inputInserirInstituicao"> Instituição </a></div>
		<div class = "menus"><a href="inputInserirMedico"> Médico </a></div>
		<div class = "menus"><a href="inputInserirPrescricao"> Prescrição </a></div>
		<div class = "menus"><a href="inputInserirAnalise"> Análise </a></div>

	<header1> <b>Remover:</b> </header1>
		<div class = "menus"><a href="inputRemoverInstituicao"> Instituição </a></div>
		<div class = "menus"><a href="inputRemoverMedico"> Médico </a></div>
		<div class = "menus"><a href="inputRemoverPrescricao"> Prescrição </a></div>
		<div class = "menus"><a href="inputRemoverAnalise"> Análise </a></div>

	<header2> <b>Editar:</b> </header2>
	<div class = "menus"><a href="inputEditarInstituicao"> Instituição </a></div>
	<div class = "menus"><a href="inputEditarMedico"> Médico </a></div>
	<div class = "menus"><a href="inputEditarPrescricao"> Prescrição </a></div>
	<div class = "menus"><a href="inputEditarAnalise"> Análise </a></div>

	<header3> <b>Realizar:</b> </header3>
		<div class = "menus"><a href="inputVendaComPrescricao"> Vendas em farmácia com prescrição </a></div>
		<div class = "menus"><a href="inputVendaSemPrescricao"> Vendas em farmácia sem prescrição </a></div>

	<header4> <b>Listar:</b> </header4>
		<div class = "menus"><a href="listarSubstancias_input"> Substâncias prescritas por um médico num dado mês do ano </a></div>
		<div class = "menus"><a href="listarMaxGlicemia"> Os valores de glicémia mais alto em cada concelho e respectivo doente </a></div>
		<div class = "menus"><a href="listarMinGlicemia"> Os valores de glicémia mais baixo em cada concelho e respectivo doente </a></div>

</body>
</html>
